@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/css/all";
@import "~bootstrap-fileinput/scss/fileinput";

.avatar {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.dropbox-overlay {
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  border: 4px dashed white;

  &__info {
    color: white;
    text-align: center;
  }

  &--visible {
    display: block;
  }
}

