@import '~bootstrap/scss/bootstrap';

.avatar {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 300px;
  height: 300px;

  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
  }
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

