@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/css/all";
@import "~bootstrap-fileinput/scss/fileinput";
@import "~file-icon-vectors/dist/file-icon-vivid";
@import "~mediaelement/src/css/mediaelementplayer";

.avatar {
  width: 100px;
  height: 100px;

  &--centered {
    margin: 0 auto;
  }

  &--bordered {
    border-radius: 5px;
    border: 3px solid #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.dropbox-overlay {
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  border: 4px dashed white;

  &__info {
    color: white;
    text-align: center;
  }

  &--visible {
    display: block;
  }
}

.image-preview {
  max-height: 350px;
  overflow: hidden;
  border-radius: 4px;
}

.file-list {
  width: 75%;
  margin: 10px auto 10px auto;

  &__item {
    padding: 15px;
  }
}

.image-preview {
  img {
    width: 100%;
  }
}

.uploader-avatar {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.file-info {
  &--margin-bot {
    margin-bottom: 10px;
  }
}

.file-icon {
  font-size: 40px;
}

.file-card {
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d3d8dc;

  &--flex {
    display: flex;
  }

  &__info--flex {
    display: flex;
    flex-direction: column;
  }
}

.video-preview {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.mejs__fill-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.file {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 15px;
  border-radius: 0.25rem;
}

.details-table {
  display: none;

  &--visible {
    display: block;
  }
}

.user-files {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment-section {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 15px;
  border-radius: 0.25rem;
}

.reply-link {
  color: #4b89c5;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.reply-form {
  display: none;

  &--is-visible {
    display: block;
  }
}

.profile-left {
  height: 300px;
}